.accordion {
  > * {
    padding: 4px 20px;
  }

  > h3:hover {
    background-color: color-mix(
      in oklab,
      var(--color-fd-accent) 50%,
      var(--color-fd-primary) 5%
    );
    cursor: pointer;

    button {
      cursor: pointer;
    }
  }
}
