.contentGridItem {
  border-bottom: 1px solid white;

  @media screen and (min-width: 56.25rem) {
    border-right: 1px solid var(--color-neutral-10);
    border-bottom: 1px solid var(--color-neutral-10);

    &:nth-child(3) {
      border-right: none;
    }

    &:nth-child(n + 4) {
      border-bottom: none;
    }

    &:last-child {
      border-bottom: none;
      border-right: none;
    }
  }
}
