@import 'tailwindcss';
@import 'fumadocs-ui/css/vitepress.css';
@import 'fumadocs-ui/css/preset.css';
@import '@pkg/brand/tokens.css';

@media (min-width: 1024px) {
  #nd-docs-layout {
    --docs-section-links-height: 61px;
    --fd-header-height: var(--docs-section-links-height);
  }

  #nd-docs-layout #nd-toc {
    top: var(--fd-docs-row-2);
    height: calc(var(--fd-docs-height) - var(--fd-docs-row-2));
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  #nd-docs-layout [data-toc-popover] {
    position: sticky;
    top: var(--fd-docs-row-2);
    z-index: 29;
  }
}

#nd-docs-layout [data-toc-popover] > header {
  border-color: transparent !important;
  background-color: transparent !important;
  backdrop-filter: blur(0) !important;
  box-shadow: none;
  transition:
    background-color 180ms,
    border-color 180ms,
    backdrop-filter 180ms,
    box-shadow 180ms;
}

html[data-docs-scrolled='true'] #nd-docs-layout [data-toc-popover] > header,
#nd-docs-layout [data-toc-popover][data-state='open'] > header {
  border-color: var(--color-fd-border) !important;
  background-color: color-mix(
    in oklab,
    var(--color-fd-background) 80%,
    transparent
  ) !important;
  backdrop-filter: blur(12px) !important;
}
